<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item>
      <h4>Good Morning, <br> Julius</h4>

      <div slot="end">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="icon">
              <h2>
                <b>
                  <ion-icon name="search"></ion-icon>
                </b>
              </h2>
            </ion-col>
            <ion-col size="6">
              <ion-avatar class="avatar">
                <img src="assets/man.png">
              </ion-avatar>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
  </ion-list>

  <ion-slides class="slides" pager="false" [options]="slideOpts">
    <ion-slide>
      <ion-grid>
        <ion-row class="chips">
          <ion-col col-4>
            <ion-chip class="phone">
              <ion-avatar>
                <img src="assets/smartphone.png">
              </ion-avatar>
              <ion-label>Mobile</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col col-4>
            <ion-chip class="web">
              <ion-avatar>
                <img src="assets/world-wide-web.png">
              </ion-avatar>
              <ion-label>Web</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col col-4>
            <ion-chip class="desktop">
              <ion-avatar>
                <img src="assets/desktop.png">
              </ion-avatar>
              <ion-label>Desktop</ion-label>
            </ion-chip>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row class="chips">
          <ion-col col-4>
            <ion-chip class="phone">
              <ion-avatar>
                <img src="assets/smartphone.png">
              </ion-avatar>
              <ion-label>Mobile</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col col-4>
            <ion-chip class="web">
              <ion-avatar>
                <img src="assets/world-wide-web.png">
              </ion-avatar>
              <ion-label>Web</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col col-4>
            <ion-chip class="desktop">
              <ion-avatar>
                <img src="assets/desktop.png">
              </ion-avatar>
              <ion-label>Desktop</ion-label>
            </ion-chip>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-slide>

  </ion-slides>

  <div class="ion-padding upcoming">
    <h6><b>Upcoming</b></h6>
  </div>

  <ion-card class="upcoming-card">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <div class="vl"></div>
          </ion-col>
          <ion-col size='10'>
            <p>10:00 - 20:00</p>
            <h2>Web on mobile</h2>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="chevron-down-outline" class="chev-icon"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding hapening">
    <h6><b>Happening now</b></h6>
  </div>

  <ion-card class="happening-card ion-activatable ripple-parent" [routerLink]="['/room']" >
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <h2><b>DESIGN PATTERNS</b></h2>
            <p>Design and build your application to capture attention</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list lines="none">
        <ion-item>
          <div class="avatar-div">
            <span class="card-avatar">
              <img src="assets/c5.jpg">
            </span>
            <span class="card-avatar">
              <img src="assets/c3.jpg">
            </span>
            <span class="card-avatar">
              <img src="assets/c4.jpg">
            </span>
          </div>

          <ion-chip slot="end" class="happening-chip">
            <ion-icon name="person"></ion-icon>
            <ion-label>162</ion-label>
            &nbsp;
            &nbsp;
            <ion-icon name="mic"></ion-icon>
            <ion-label>6</ion-label>
          </ion-chip>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>

  <ion-card class="happening-card ion-activatable ripple-parent" [routerLink]="['/room']">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <h2><b>DATA STRUCTURES</b></h2>
            <p>Why ask data structures questions during front-end interview? </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list lines="none">
        <ion-item>
          <div class="avatar-div">
            <span class="card-avatar">
              <img src="assets/c5.jpg">
            </span>
            <span class="card-avatar">
              <img src="assets/c3.jpg">
            </span>
            <span class="card-avatar">
              <img src="assets/c4.jpg">
            </span>
          </div>

          <ion-chip slot="end" class="happening-chip">
            <ion-icon name="person"></ion-icon>
            <ion-label>162</ion-label>
            &nbsp;
            &nbsp;
            <ion-icon name="mic"></ion-icon>
            <ion-label>6</ion-label>
          </ion-chip>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</ion-content>

<ion-footer  class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <div class="footer-icon">
            <span class="icon-background">
              <ion-icon name="calendar-outline"></ion-icon>
            </span>
          </div>
        </ion-col>
        <ion-col size="8" class="text-center">
          <ion-button e><ion-icon name="add-circle"></ion-icon> &nbsp; Start room</ion-button>
        </ion-col>
        <ion-col size="2">
          <div class="footer-icon">
            <span class="icon-background">
              <ion-icon name="person-outline"></ion-icon>
            </span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
