<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item>
      <h4>Good Morning, <br> Julius</h4>

      <div slot="end">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="icon">
              <h2>
                <b>
                  <ion-icon name="search"></ion-icon>
                </b>
              </h2>
            </ion-col>
            <ion-col size="6">
              <ion-avatar class="avatar">
                <img src="assets/man.png">
              </ion-avatar>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
  </ion-list>

  <ion-slides class="slides" pager="false" [options]="slideOpts">
    <ion-slide>
      <ion-grid>
        <ion-row class="chips">
          <ion-col col-4>
            <ion-chip class="phone">
              <ion-avatar>
                <img src="assets/smartphone.png">
              </ion-avatar>
              <ion-label>Mobile</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col col-4>
            <ion-chip class="web">
              <ion-avatar>
                <img src="assets/world-wide-web.png">
              </ion-avatar>
              <ion-label>Web</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col col-4>
            <ion-chip class="desktop">
              <ion-avatar>
                <img src="assets/desktop.png">
              </ion-avatar>
              <ion-label>Desktop</ion-label>
            </ion-chip>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row class="chips">
          <ion-col col-4>
            <ion-chip class="phone">
              <ion-avatar>
                <img src="assets/smartphone.png">
              </ion-avatar>
              <ion-label>Mobile</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col col-4>
            <ion-chip class="web">
              <ion-avatar>
                <img src="assets/world-wide-web.png">
              </ion-avatar>
              <ion-label>Web</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col col-4>
            <ion-chip class="desktop">
              <ion-avatar>
                <img src="assets/desktop.png">
              </ion-avatar>
              <ion-label>Desktop</ion-label>
            </ion-chip>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-slide>

  </ion-slides>

  <div class="ion-padding upcoming">
    <h6><b>Upcoming</b></h6>
  </div>

  <ion-card class="upcoming-card">
    <ion-card-content>

    </ion-card-content>
  </ion-card>

</ion-content>
